@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="about-container">
    <h2>Privacy Policy</h2>
    <p>Welcome to TechJobHunt! Your privacy is of utmost importance to me. This Privacy Policy outlines the types of information I collect, how I use it, and the measures I take to protect your information when you visit and use my website. By using this website, you agree to the terms of this Privacy Policy.</p>
    <ol>
        <li>Information I Collect.</li>
        <li>How I Use Your Information.</li>
        <li> Information Sharing and Disclosure</li>
        <li>Security</li>
        <li>Your Data Protection Rights</li>
        <li>Children's Privacy</li>
        <li>Changes to This Privacy Policy</li>
        <li>Contact Me</li>
    </ol>
    <div class="aboutus-content">
        <ul>
            <li>
                <h3>1. Information I Collect</h3>
                <h4>Personal Information:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>When you register on the site, apply for jobs, or sign up for newsletters, I may collect personal information such as your name, email address, phone number, resume details, and other contact information.</p>
                        </li>
                        <li>
                            <p>If you are an employer, I may collect information about your company, including company name, address, and job postings.</p>
                        </li>
                    </ul>
                </div>
                <h4>Non-Personal Information:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>I collect non-personal information such as browser type, operating system, referring URLs, and access times. This helps improve the site’s functionality and user experience.</p>
                        </li>
                    </ul>
                </div>
                <h4>Cookies and Tracking Technologies:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>I use cookies and similar tracking technologies to track activity on the website and hold certain information. Cookies are files with a small amount of data, which may include an anonymous unique identifier. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>2. How I Use Your Information</h3>
                <h4>To Provide and Improve Services:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>The collected information is used to deliver the services you request, such as job matching, personalized content, and communication about the services.</p>
                        </li>
                        <li>
                            <p>Non-personal information helps understand how visitors use the site and allows for improvements in services and website performance.</p>
                        </li>
                    </ul>
                </div>
                <h4>To Communicate With You:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>Personal information may be used to contact you with newsletters, marketing or promotional materials, and other information that may be of interest to you.</p>
                        </li>
                        <li>
                            <p>If you opt in, your resume and contact details may be shared with potential employers.</p>
                        </li>
                    </ul>
                </div>
                <h4>For Compliance and Legal Purposes:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>Information may be used or disclosed to comply with legal obligations, resolve disputes, and enforce agreements.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>3. Information Sharing and Disclosure</h3>
                <h4>Third-Party Service Providers:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>Third-party companies and individuals may be employed to facilitate the website, provide services on my behalf, perform website-related services, or assist in analyzing how the website is used.</p>
                        </li>
                        <li>
                            <p>These third parties have access to your personal information only to perform these tasks on my behalf and are obligated not to disclose or use it for any other purpose.</p>
                        </li>
                    </ul>
                </div>
                <h4>Legal Requirements:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>TechJobHunt may disclose your personal information in the good faith belief that such action is necessary to comply with a legal obligation, protect and defend rights or property, prevent or investigate possible wrongdoing in connection with the website, ensure the personal safety of users of the website or the public, or protect against legal liability.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>4. Security</h3>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>The security of your data is important to me. I strive to use commercially acceptable means to protect your personal information, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While I strive to use commercially acceptable means to protect your personal information, I cannot guarantee its absolute security.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>5. Your Data Protection Rights</h3>
                <h4>Access, Correction, and Deletion:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>You have the right to access, correct, or delete your personal information at any time. To do so, please contact me at [Your Contact Information].</p>
                        </li>
                    </ul>
                </div>
                <h4>Data Portability:</h4>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>You have the right to request that I transfer the data collected to another organization, or directly to you, under certain conditions.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>6. Children's Privacy</h3>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>The website is not intended for individuals under the age of 18. I do not knowingly collect personal information from children under 18. If I become aware that personal information from a child under 18 has been collected, I will take steps to remove that information from my servers.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>7. Changes to This Privacy Policy</h3>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>This Privacy Policy may be updated from time to time. You will be notified of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>8. Contact Me</h3>
                <div class="privacy-list-inner">
                    <ul>
                        <li>
                            <p>If you have any questions about this Privacy Policy, please contact me at:</p>
                            <p>
                                <strong>TechJobhunt Team</strong><br>
                                Contact No - <strong>7275144522</strong><br />
                                Email - <strong>info@techjobhunt.com</strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>